ansicon==1.89.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
ezenv==0.92
idna==3.10
jinxed==1.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
prettytable==3.12.0
Pygments==2.18.0
redis==5.2.0
requests==2.32.3
rich==13.9.4
spotipy==2.24.0
urllib3==2.2.3
wcwidth==0.2.13
